/*   
BREAKPOINTS

-phone : 600px
-tab-port : 900px
-tab-land : 1200px
-big-desktop : 1800px

ORDER : base + typography > general layout + grid > page layout > components
*/
/*margins*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #e9e9e9;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0px; } }

.heading-1 {
  font-family: 'inter', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase; }
  .heading-1--light {
    color: #fff; }
    @supports (color: var(--color-primary)) {
      .heading-1--light {
        color: var(--color-white); } }
  .heading-1--dark {
    color: #000; }
    @supports (color: var(--color-primary)) {
      .heading-1--dark {
        color: var(--color-black); } }

.heading-2 {
  font-family: 'inter', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  text-transform: uppercase; }
  .heading-2--light {
    color: #fff; }
    @supports (color: var(--color-primary)) {
      .heading-2--light {
        color: var(--color-white); } }
  .heading-2--dark {
    color: #000; }
    @supports (color: var(--color-primary)) {
      .heading-2--dark {
        color: var(--color-black); } }

.para {
  font-size: 1.6rem;
  font-weight: 300; }

.t-left {
  text-align: left; }
  @media only screen and (max-width: 56.25em) {
    .t-left {
      text-align: center; } }

.t-center {
  text-align: center; }

.mb-small {
  margin-bottom: 1.5rem; }

.mb-medium {
  margin-bottom: 2rem; }

.mb-big {
  margin-bottom: 3rem; }

.mt-small {
  margin-top: 1.5rem; }

.mt-medium {
  margin-top: 2rem; }

.mt-big {
  margin-top: 3rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  text-align: center; }

.icon-link, .icon-link:link, .icon-link:visited {
  text-decoration: none; }

.svg-icon-l {
  width: 3.5rem;
  height: 3.5rem; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .nav__list {
    background-color: #1176E9;
    width: 80vw;
    padding: 1rem 3rem;
    color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around; }
    @supports (color: var(--color-primary)) {
      .nav__list {
        background-color: var(--color-primary);
        color: var(--color-white); } }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        width: 95vw; } }
  .nav__item {
    list-style: none;
    margin: .5rem; }
  .nav__link, .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    transition: all .2s; }
    .nav__link:hover, .nav__link:active, .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
      background-color: rgba(255, 255, 255, 0.4); }
    @media only screen and (max-width: 37.5em) {
      .nav__link, .nav__link:link, .nav__link:visited {
        margin: 2rem auto; } }

.item-navhu {
  display: none; }
  @supports (color: var(--color-primary)) {
    .item-navhu {
      display: inline-block; } }

.card {
  width: 25rem; }
  @media only screen and (max-width: 56.25em) {
    .card {
      width: 40vw; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 80vw; } }
  .card__fig {
    width: 100%;
    position: relative;
    height: 25rem;
    overflow: hidden;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .card__fig {
        width: 40vw;
        height: 40vw; } }
    @media only screen and (max-width: 37.5em) {
      .card__fig {
        width: 80vw;
        height: auto;
        max-height: 90vw; } }
  .card__img {
    width: 100%;
    object-fit: cover;
    object-position: center; }
    @media only screen and (max-width: 37.5em) {
      .card__img {
        object-fit: cover; } }
  .card__btn {
    width: 100%;
    padding: 1rem;
    font-family: "inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    background-color: #1176E9;
    color: #fff;
    margin-top: 1.5rem;
    transition: opacity .2s; }
    @supports (color: var(--color-primary)) {
      .card__btn {
        background-color: var(--color-primary);
        color: var(--color-white); } }
    .card__btn:hover, .card__btn:active {
      opacity: .8; }
    @media (hover: hover) {
      .card__btn {
        opacity: 0;
        visibility: hidden;
        height: 0px; } }

.btn-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/white-bg.jpg);
  opacity: 0.002;
  transition: opacity .2s; }
  @media (hover: hover) {
    .btn-bg:hover {
      opacity: 0.7; }
      .btn-bg:hover + .btn__text {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%); } }

.btn__text {
  font-family: "inter", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2rem;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%);
  opacity: 0;
  visibility: hidden;
  transition: all .2s .1s; }
  @media (hover: hover) {
    .btn__text:hover {
      visibility: visible;
      transform: translate(-50%, -50%);
      opacity: 1;
      padding: 1rem 2rem;
      background-color: rgba(255, 255, 255, 0.7); } }

.pop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.2);
  visibility: hidden;
  transition: transform 0.2s; }
  .pop:target {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.2s; }
    .pop:target > .popup-container {
      transform: scale(1);
      transition: transform 0.2s 0.1s; }

.close-btn, .close-btn:link, .close-btn:visited {
  text-decoration: none;
  color: #1176E9;
  font-size: 6rem;
  position: fixed;
  top: 4rem;
  right: 4rem; }

.popup-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 80%;
  padding: 0 3rem;
  transform: scale(0.2);
  transition: transform 0.2s 0.1s; }
  @media only screen and (max-width: 56.25em) {
    .popup-container > .popup-img:first-child {
      display: none; } }

.popup-img {
  max-height: 60%; }
  @media only screen and (max-width: 37.5em) {
    .popup-img {
      max-height: 80%; } }

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%; }
  .grid__figure {
    height: 25rem;
    margin: 2rem;
    width: 25rem;
    background-color: #fff; }
  .grid__img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; }
  @supports (display: -ms-grid) or (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 5vw);
      grid-gap: 1.5rem;
      padding: 1.5rem;
      justify-items: center; }
      .grid__img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%; }
      .grid__figure {
        height: 100%;
        margin: auto;
        width: 100%; }
        .grid__figure--1 {
          grid-column: 1 / 3;
          grid-row: 1 / 3; }
        .grid__figure--2 {
          grid-column: 3 / 5;
          grid-row: 1 / 3; }
        .grid__figure--3 {
          grid-column: 5 / 7;
          grid-row: 1 / 4; }
        .grid__figure--4 {
          grid-column: 7 / -1;
          grid-row: 1 / 5; }
        .grid__figure--5 {
          grid-column: 1 / 3;
          grid-row: 3 / 6; }
        .grid__figure--6 {
          grid-column: 3 / 5;
          grid-row: 3 / 5; }
        .grid__figure--7 {
          grid-column: 5 / 7;
          grid-row: 4 / 6; }
        .grid__figure--8 {
          grid-column: 7 / 9;
          grid-row: 5 / 8; }
        .grid__figure--9 {
          grid-column: 9 / -1;
          grid-row: 5 / 7; }
        .grid__figure--10 {
          grid-column: 9 / -1;
          grid-row: 7 / -1; }
        .grid__figure--11 {
          grid-column: 1 / 3;
          grid-row: 6 / 8; }
        .grid__figure--12 {
          grid-column: 1 / 3;
          grid-row: 8 / -1; }
        .grid__figure--13 {
          grid-column: 3 / 5;
          grid-row: 5 / 8; }
        .grid__figure--14 {
          grid-column: 3 / 7;
          grid-row: 8 / -1; }
        .grid__figure--15 {
          grid-column: 5 / 7;
          grid-row: 6 / 8; }
        .grid__figure--16 {
          grid-column: 7 / 9;
          grid-row: 8 / -1; } }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, #fff 0%, #fff 50%, transparent 50%);
  overflow: hidden;
  position: relative;
  font-family: 'inter', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-image: linear-gradient(to right bottom, #fff, #fff); } }
  @media only screen and (max-width: 25em) {
    .header {
      height: 65vh; } }
  @supports (color: var(--color-primary)) {
    .header {
      background-image: linear-gradient(to right bottom, var(--color-white) 0%, var(--color-white) 50%, transparent 50%); }
      @media only screen and (max-width: 56.25em) {
        .header {
          background-image: linear-gradient(to right bottom, var(--color-white), var(--color-white)); } }
      @media only screen and (max-width: 25em) {
        .header {
          height: 65vh; } } }
  .header__bg {
    height: 6rem;
    width: 6rem;
    background-image: radial-gradient(#1176E9 0%, #1176E9 15%, #fff 15%);
    position: absolute;
    top: 80vh;
    right: 5vw;
    z-index: -1;
    transform: scale(60); }
    @supports (color: var(--color-primary)) {
      .header__bg {
        background-image: radial-gradient(var(--color-primary) 0%, var(--color-primary) 15%, var(--color-white) 15%); }
        @media only screen and (max-width: 75em) {
          .header__bg {
            transform: scale(40); } } }
  .header__bg-1 {
    display: none;
    height: 6rem;
    width: 6rem;
    background-image: radial-gradient(#1176E9 0%, #1176E9 15%, transparent 15%);
    position: absolute;
    top: 5vh;
    left: 3vw;
    z-index: -1;
    transform: scale(25); }
  .header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    padding: 0 10rem; }
    @media only screen and (max-width: 75em) {
      .header__div {
        padding: 0 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__div {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width: 100vw;
        padding: 0 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__div {
        padding: 0 1rem; } }
  .header__text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
    color: #000; }
    @supports (color: var(--color-primary)) {
      .header__text {
        color: var(--color-black); } }
    @media only screen and (max-width: 56.25em) {
      .header__text {
        text-align: center;
        width: 100%;
        align-items: center;
        margin-right: 0px; } }
  .header__img {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 3px solid #1176E9; }
  .header__image {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover; }
  .header-btn {
    padding: 1.5rem;
    font-family: 'inter', sans-serif;
    background-color: #1176E9;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    width: 40%;
    transition: opacity .2s; }
    @media only screen and (max-width: 56.25em) {
      .header-btn {
        width: 60%; } }
    .header-btn:hover, .header-btn:active {
      opacity: .8; }

.connect {
  background-color: #1176E9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .connect__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    width: 100%; }
  .connect__link {
    display: inline-block;
    transition: all .2s; }
    .connect__link:hover {
      transform: scale(1.1); }
    .connect__link:hover, .connect__link:active {
      opacity: 0.8; }
  .connect__icon {
    fill: #fff; }
    @supports (color: var(--color-primary)) {
      .connect__icon {
        fill: var(--color-white); } }

.r-work {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 2rem; }
  @supports (color: var(--color-primary)) {
    .r-work {
      background-color: var(--color-white); } }
  .r-work__div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem; }
    .r-work__div > .card {
      margin-right: 3rem;
      margin-bottom: 3rem; }
      @media (hover: hover) {
        .r-work__div > .card {
          margin-bottom: 1rem; } }

.hr {
  height: 1px;
  width: 100%;
  background-color: #1176E9;
  margin-bottom: 3rem; }

.projects {
  background-color: #1176E9;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @supports (color: var(--color-primary)) {
    .projects {
      background-color: var(--color-primary); } }

.footer {
  background-color: #1176E9;
  padding: 2rem; }
  .footer__span {
    text-transform: lowercase;
    color: #f8f8f8; }
  .footer__f, .footer__b {
    width: 100%; }
  .footer__f:hover > .footer__links,
  .footer__b:hover > .footer__links {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all .2s; }
  .footer__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer__link {
    transition: all .2s; }
    .footer__link:hover, .footer__link:active {
      transform: scale(0.9);
      opacity: 0.9; }
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    transform: scale(0.2);
    opacity: 0;
    visibility: hidden;
    transition: all .2s; }
    @media (hover: none) {
      .footer__links {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        transition: all .3s; } }
